.venv/
venv/
env/
__pycache__/
*.pyc

.env
.DS_Store

datos_cara/
datos_voz/
frames_liveness/
datos_liveness/
datos_replay/
datos_digitos/

backend/biometrics/face/models/
backend/biometrics/voice/models/

*.log
